@model MvcRazor.Models.Product

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NameAndPrice</h2>
The product name is @Model.Name and it costs $@Model.Price
